<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
</head>
<body>
    <h2 id="peer-id">UID : </h2>
    <video id="loadvideo" width="300" height="300"  controls></video><br />
    <video id="loadvideoSc" width="500" height="500"  controls></video><br />
    <input type="text" id="tokenID">
    <button id="btnConnect">Connection</button>
  
</body>
<script src="bundle.js"></script>
</html>